<div class="header-container">
    <div class="header-logo">
        <a href=""><img src="resources/images/logo.svg" alt="Logo"></a>
    </div>
    <div class="header-menu text-spartan">
        <div class="header-menu-container">
            <a id="beranda" href="index.html" class="text-primary">Beranda</a>
            <a id="postingan" href="postingan.html" class="text-primary">Postingan</a>
            <a id="form" href="form.html" class="text-primary">Form</a>
            <a id="api" href="productapi.html" class="text-primary">API</a>
        </div>
    </div>
</div>